* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

header {
    height: 40vh;
    background-color: #3161e0;
    text-align: center;
    color: white;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.h-container {
    width: 60%;
    margin: 0 auto;
    line-height: 2.5;
}

section:not(#special) {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-of-type(even) {
    background-color: #f6f6f6;
}

section:nth-of-type(4) {
    padding-top: 10%;
    text-align: center;
    height: 100vh;
}



footer {
    height: 40vh;
    background-color: #23272a;
}

.social {
    flex-basis: 25%;
}

.impressum {
    color: white;
    display: flex;
    justify-content: space-around;
    flex-basis: 75%;
}

ul {
    list-style: none;
}

.f-container {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid lightseagreen;
}

.f2-container {
    display: flex;
    justify-content: space-between;
}