*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

header{
    height: 40vh;
    background-color: #3161e0;
    text-align: center;
    color: white;
    padding: 20px;
}

nav{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.h-container {
    width: 60%;
    margin: 0 auto;
    line-height: 2.5;
}

section{
    height: 60vh;
    display: flex;
    justify-content: center;
}

section:nth-of-type(even){
    background-color: #f6f6f6;
}

section:nth-of-type(4){
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

section:nth-of-type(4) img{
margin: 0 auto;
height: 50%;
width: 50%;
}

footer{
    height: 40vh;
    background-color: #23272a;
}